.sponsors__title {
  font-family: 'PT Root UI', Arial, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1.33;
  color: #252D33;
  font-weight: 700;
  margin: 0;
}
@media screen and (max-width: 1080px) {
  .sponsors__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 700px) {
  .sponsors__title {
    font-size: 28px;
  }
}
