.course__flow {
  width: 134px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff;
  font-family: 'PT Root UI', Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.66;
  font-weight: 700;
  color: #252D33;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}
