.course__txt-container {
  margin: 32px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  column-gap: 175px;
}
@media screen and (min-width: 1038px) and (max-width: 1181px) {
  .course__txt-container {
    column-gap: 130px;
  }
}
@media screen and (min-width: 895px) and (max-width: 1037px) {
  .course__txt-container {
    column-gap: 85px;
  }
}
@media screen and (min-width: 840px) and (max-width: 894px) {
  .course__txt-container {
    column-gap: 30px;
  }
}
@media screen and (min-width: 820px) and (max-width: 839px) {
  .course__txt-container {
    column-gap: 10px;
  }
}
@media screen and (max-width: 819px) {
  .course__txt-container {
    column-gap: 0;
    flex-direction: column;
    row-gap: 32px;
  }
}
