.promo__title {
  margin: 15px 0 0;
  font-family: 'PT Root UI', Arial, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1.33;
  color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 1080px) {
  .promo__title {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .promo__title {
    text-align: center;
    font-size: 30px;
  }
}
