.sponsors__name {
  border-radius: 20px;
  height: 120px;
  transition: opacity .3s linear;
}
.sponsors__name:hover {
  opacity: .6;
}
@media screen and (max-width: 700px) {
  .sponsors__name {
    height: 98px;
  }
}
